* {
    padding: 0;
    margin: 0;
    font-family: 'Libre Baskerville', serif;
}

:root {
    --header-height: 32%
}

.md-light {
    color: rgba(165, 165, 165,1);
}

html, body {
    height: 100vh;
    background-color: rgb(234, 238, 241);
}

.close {
    display: none;
}

#modal-form {
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: rgb(227, 232, 233);
    width: 38rem;
    max-width: 100%;
    height: 40rem;
    max-height: 100%;
    border-radius: 3px;
    box-shadow: 0 0 8px black;
    z-index: 2;
}

#modal-overlay {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.close-btn {
    position: absolute;
    right: 2%;
    top: 2%;
}

form {
    display: flex;
    justify-content: center;
    height: 100%;
}

fieldset {
    display: grid;
    width: 80%;
    height: 70%;
    align-self: center;
    align-items: center;
    padding: 0.5rem;
}

fieldset div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

fieldset label {
    padding: 0 0.5rem 0.5rem 0;
}

fieldset input[type=text], input[type=number]{
    height: 1.8rem;
    width: 90%;
}

fieldset input[type=checkbox] {
    width: 1rem;
    height: 1rem;
}

.btn {
    height: 3rem;
    width: 6.5rem;
    border-radius: 25px;
    border: none;
}

fieldset button {
    background-color: rgb(245, 181, 43);
    justify-self: center;
    cursor: pointer;
}

fieldset button:hover {
    background-color: rgb(243, 217, 164);
    transition: 0.2s;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: var(--header-height) calc(100% - var(--header-height));
    position: relative;
}

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    outline: 1px solid rgb(75, 75, 75);
    background-image: url(/library-app/img/liza-rusalskaya-D0ad5ow9isg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Playfair Display SC', serif;
    font-size: clamp(2rem, 4.5vw, 5rem);
    width: 100%;
    position: relative;
}

p {
    color: azure;
    position: absolute;
    top: 24%;
}

#add-book {
    height: 2rem;
    width: 6.5rem;
    position: absolute;
    bottom: 8%;
}

#library-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
    place-items: center;
    padding: 1.5rem;
    overflow: auto;
}

.book-card {
    width: 14rem;
    height: 19rem;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 4fr 1fr;
    background-color: rgba(32, 37, 39, 0.08);
    color: rgb(165, 165, 165);
}

.title, .author {
    font-size: 1.4rem;
    color: rgb(145, 113, 28);
}

.page, .read-status {
    font-size: 0.9rem;
    color: rgb(133, 134, 134);
}

.book-container {
    padding: 0.5rem;
}

.book-container div {
    padding-bottom: 0.5rem;
}

.card-button-container {
    display: flex;
    align-items: center;
    justify-content: end;
}

.card-button-container span{
    padding-right: 1rem;
    font-size: 1.5rem;
}

.card-button-container span:hover{
    color: rgb(255, 255, 255);
}